* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* mostrar sempre les fletxes amunt/avall del input numeric */
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}

table {
    width: 100%;
}

th {
    text-align: left;
    padding-top: 10px;
}

h2 {
    width: 100%;
    border-bottom: 2px solid red;
    font-weight: bold;
    font-size: 1rem;
}

input[type=text]:focus, textarea:focus {
    background-color: #add8e6;
}

/* Pop Over Classes */
.popover__wrapper {
    position: relative;
    margin-top: 1.5rem;
    display: inline-block;
}

.popover__content {
    position: absolute;
    background-color: #f0fa6a;
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.836);
    width: auto;
    transform: translate(170px, -110px);
    opacity: 0;
    font-weight: normal;
}

.popover__content:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #f0fa6a transparent transparent transparent;
    bottom: -14px;
    right: calc(80% - 15px);
}

.show .popover__content {
    transform: translate(170px, -72px);
    transition: all 0.5s;
    visibility: visible;
    opacity: 1;
}

.hide .popover__content {
    opacity: 0;
    transition: opacity 0.5s;
}

.popover_message {
    text-align: center;
}

#warning {
    color: red;
}
/* ************************** */

.sheet {
    width: 100%;
    max-width: 60em;
    margin: 15px auto;
    padding: 15px;
}

#cabecera, #stats {
    height: 100%;
    width: 100%;
    display: flex;
}

#portrait {
    min-width: 240px;
    min-height: 100%;
    margin: 30px 0px 10px;
    border: 1px solid black;
    overflow: hidden;
}

#preview {
    width: 100%;
    margin: auto;
}

#logo {
    margin-top: 25px;
}

#general {
    margin-left: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}

#general * {
    margin: 5px 10px;
}

#datosBasicos {
    font-weight: bold;
}

#pNombre {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

#pArquetipo {
    display: grid;
    grid-template-columns: min-content auto;
}

#pReglaEspecial, #pTrasfondo {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.section {
    border: 2px solid red;
    border-radius: 10px;
    margin: 5px;
    padding: 2px 3px;
    min-height: 3em;
}

#potra, #pupas {
    display: grid;
    padding: 0;
    grid-template-columns: min-content 1fr;
}

#potra div:first-child, #pupas div:first-child {
    padding: 0 8px;
    margin-top: 2px;
}

.actual {
    text-align: center;
    padding-top: 3px;
    color: #aaaaaa;
    border-left: 2px solid red;
}

#Parada, #Peequis, #Potra, #Pupas {
    width: 100%;
    border: none;
    text-align: center;
}

#atributos, #armas, #superpoderes, #conyas, #taras, #equipo, #misc {
    padding: 10px;
}

#atributos, #armas, #superpoderes {
    min-width: 38rem;
}

#parada {
    width: 10%;
    min-width: 6rem;
    font-weight: bold;
    text-align: center;
}

#peequis {
    width: 20%;
    min-width: 12rem;
    font-weight: bold;
}

#potra {
    width: 30%;
    font-weight: bold;
}

#pupas {
    width: 40%;
    font-weight: bold;
}

.atributo, .habilidad {
    width: 2.5em;
    border: none;
    border-bottom: 1px solid red;
    text-align: center;
}

.maestriaText, .precisionText, .supervivenciaText, .vehiculoText, .culturillaText, .idiomaText, .crimenText, .talentoText {
    width: 10em;
    border: none;
    border-bottom: 1px solid black;
}

.armaText, .alcanceText, .reglasEspText {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
}

.cargadorText, .manosText, .rafagaText, .danyoText, .alcanceText {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
}

#superpoderes ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    column-gap: 10px;
}


#armas table th {
    padding-top: 0;
    border-bottom: 2px solid red;
    text-align: center;
}

.armaCol, .alcanceCol {
    width: 16%;
}

.cargadorCol, .manosCol, .rafagaCol, .danyocol {
    width: 8%;
}

.reglasEspCol {
    width: 36%;
}

.required {
    background-color: #add8e6;
}

.flexDiv {
    display: flex;
}

#conyas, #taras {
    flex: 1;
}

#conyas ul, #taras ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    column-gap: 10px;
}

#conyas h2, #taras h2, #equipo h2, #misc h2 {
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

#textEquipo, #textMisc {
    width: 100%;
}

.underlined {
    background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
    background-size: 100% 100%, 100% 100%, 100% 31px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 31px;
    font-family: Arial, Helvetica, Sans-serif;
    padding: 8px;
}

#page2 {
    page-break-before: always;
}

#buttons {
    width: 100%;
    text-align: center;
}

#buttons button {
    display: inline-block;
    margin: 0px 15px 10px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 30px;
    border: none;
    background-color: white;
    font-weight: 600;
}

#buttons button:hover {
    background-color: #eeeeee;
}

@page {
    size: auto;
    margin: 0;
}

@media screen {
    .sheet {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    body {
        min-width: 881px;
    }
}

@media print {
    #picture {
        display: none;
    }

    .popover__content {
        display: none;
    }

    input[type=text]:focus, textarea:focus {
        background-color: transparent;
        outline: none;
    }

    .maestriaText, .precisionText, .supervivenciaText, .vehiculoText, .culturillaText, .idiomaText, .crimenText, .talentoText {
        width: 8.5em;
    }

    #superpoderes ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.15fr 1fr;
        list-style: none;
        column-gap: 5px;
    }

    input[type='number']::-webkit-inner-spin-button, 
    input[type='number']::-webkit-outer-spin-button { 
        opacity: 0;
    }

    #buttons {
        display: none;
    }
}
